{% extends 'base.html' %}

{% block title %}
Class Timer
{% endblock %}

{% block content %}
<div id="schedule">
 

  <!-- Current and next classes -->
  {% if current_class %}
  <div id="current-class">
    <div id="current-class-header">Current Class</div>
    <div id="current-class-name">{{ current_class }}</div>
  </div>
  {% endif %}


  <!-- Timer display -->
  {% if end_time %}
  <div id="timer">
    {% if end_time %}
    <div id="time-remaining">
      <div id="time-remaining-header">Time Remaining</div>
      <div id="remaining">{{ end_time }}</div>
    </div>
    {% endif %}
    {% if start_time %}
    <div id="time-elapsed">
      <div id="time-elapsed-header">Time Elapsed</div>
      <div id="elapsed">{{ start_time }}</div>
    </div>
    {% endif %}
  </div>
  {% endif %}


  {% if next_class %}
  <hr>
  <div id="next-class">
    <div id="next-class-header">Next Class</div>
    <div id="next-class-name">{{ next_class }}</div>
  </div>
  {% endif %}


  <hr>
   <!-- Main message-->
  <div id="main-message">
    <p id="p-main-message"></p>
  </div>

  <!-- Special messages will be displayed here -->
  <div id="special-message">
    <p id="p-special-message"></p>
  </div>

</div>

{% endblock %}

{% block scripts %}
<script>
    // Data passed from the backend (Using JSON.stringify for better editor parsing)
  let inClass = JSON.parse('{{ in_class | tojson }}');
  let inBreak = JSON.parse('{{ in_break | tojson }}');
  let beforeSchool = JSON.parse('{{ before_school | tojson }}');
  let noSchool = JSON.parse('{{ no_school | tojson }}');
  let noSchoolLabel = JSON.parse('{{ no_school_label | tojson }}');
  let weekend = JSON.parse('{{ weekend | tojson }}');
  let currentClass = "{{ current_class | safe }}";
  let nextClass = "{{ next_class | safe }}";
  const debug = "{{ debug | tojson }}";

  let endTime = parseFloat("{{ end_time }}");
  let startTime = parseFloat("{{ start_time }}");
  var currentTime = parseFloat("{{ current_time }}");

</script>
<script src="{{ url_for ('static', filename='timer.js') }}"></script>
{% endblock %}
