{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block nav %}
<li><span id="testText">test</span></li>

<li id="testTimeContainer">
  <form method="post">
    <input type="datetime-local" id="testtime" name="testtime">
    <button type="submit" id="testtime-button" value="Test Time">Test Time</button>
  </form>
</li>

{% endblock %}

{% block content %}
<div id="schedule">
 

  <!-- Current and next classes -->
  {% if current_class %}
  <div id="currentClass">
    <div class="small-header" id="currentClassSmallHeader">Current Class</div>
    <div class="class-name" id="currentClassName">{{ current_class }}</div>
  </div>

  <div class="progress-container">
    <div class="progress-text" id="progressText">
        <span id="progressInt">0</span>
        <span id="progressDecimal">.0</span>
        <span id="progressPercentSymbol">%</span>
    </div>
    <div class="progress-bar" id="progressBar"></div>
  </div>
  {% endif %}


  <!-- Timer display -->
  <div id="timer">
    {% if end_time %}
    <div id="timeRemaining">
      <div class="small-header" id="timeRemainingSmallHeader">Time Remaining</div>
      <div class="timer-ticking" id="remainingTimerTicking">0h 0m 0s</div>
    </div>
    {% endif %}

    <div id="currentTime">
      <div class="small-header" id="currentTimeSmallHeader">Current Time</div>
      <div id="currentTimerTicking" class="timer-ticking">00:00</div>
    </div>

    {% if start_time %}
    <div id="timeElapsed">
      <div class="small-header" id="timeElapsedSmallHeader">Time Elapsed</div>
      <div id="elapsedTimerTicking" class="timer-ticking">0h 0m 0s</div>
    </div>
    {% endif %}
  </div>


  {% if next_class %}
  <hr>

  <div id="nextClass">
    <div class="small-header" id="nextClassSmallHeader">Next Class</div>
    <div class="class-name" id="nextClassName">{{ next_class }}</div>
  </div>
  {% endif %}


  <hr>

  <div id="messages">
    <!-- Main message-->
    <div id="mainMessage">
      <p id="p-main-message"></p>
    </div>

    <!-- Special messages will be displayed here -->
    <div id="specialMessage">
      <p id="p-special-message"></p>
    </div>
  </div>

</div>

{% endblock %}

{% block scripts %}
<script>
    // Data passed from the backend (Using JSON.stringify for better editor parsing)
  let inClass = JSON.parse('{{ in_class | tojson }}');
  let inBreak = JSON.parse('{{ in_break | tojson }}');
  let beforeSchool = JSON.parse('{{ before_school | tojson }}');
  let noSchool = JSON.parse('{{ no_school | tojson }}');
  let noSchoolLabel = JSON.parse('{{ no_school_label | tojson }}');
  let weekend = JSON.parse('{{ weekend | tojson }}');
  let currentClass = "{{ current_class | safe }}";
  let nextClass = "{{ next_class | safe }}";
  let backgroundColor = JSON.parse('{{ background_color | tojson }}');
  const debug = "{{ debug | tojson }}";

  let endTime = parseFloat("{{ end_time }}");
  let startTime = parseFloat("{{ start_time }}");
  var currentTime = parseFloat("{{ current_time }}");
  let nextClassStartTime = parseFloat("{{ next_class_start_time }}");

</script>
<script src="{{ url_for ('static', filename='timer.js') }}"></script>
<script src="{{ url_for ('static', filename='hover.js') }}"></script>
<script src="{{ url_for ('static', filename='wakelock.js') }}"></script>
<script src="{{ url_for ('static', filename='testtime.js') }}"></script>
{% endblock %}
