/* Global Styling */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Mono', monospace;
  /* Modern monospace font */
}

html,
body {
  height: 100%;
  background-color: #1e1e2e;
  color: #d4d4dc;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* Ensure everything is centered */
}


/* Default background (weekends, holidays, after school) */
body.default {
  background-color: #1e1e2e;
  /* Dark desaturated blue */
}

/* Before school */
body.before-school {
  background-color: #3b384d;
  /* Light desaturated purple */
}

/* During class */
body.in-class {
  background-color: #192f44;
  /* Deep muted blue */
}

/* In between classes */
body.in-break {
  background-color: #57363e;
  /* Warm muted orange */
}


/* Links */
a {
  color: #6d9ef5;
  text-decoration: none;
}

a:hover {
  color: #d4d4dc;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;

  background-color: #2a2a3d;
  text-align: center;
  padding: 5px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0.0;
  /* Initial transparency */
  transition: opacity 0.5s ease;
  /* Smooth fade-in effect */
}

nav:hover {
  opacity: 1;
  /* Full opacity when hovered */
}

nav h1 {
  font-size: 1em;
  font-weight: normal;
  color: #6d9ef5;
  transition: color 0.5s ease;
  display: flex;
  align-items: center;
  margin-left: 20px;

}

nav ul {
  list-style-type: none;
  display: inline-flex;
  gap: 20px;
  padding: 0px;
  margin: 0;
}

nav li {
  font-size: 1em;
  padding: 10px 15px;
  transition: color 0.5s ease;
  /* Smooth text color transition */
  color: #ffffff;
}

hr {
  margin: 20px;
}

/* Main Content */
.content {
  padding: 0;
  color: #c1c1c1;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

/* Timer */
#timer {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

#timer div {
  margin: 0px auto;
  margin-bottom: 0px;
  text-align: center;
  width: 30vw;
}

.timer-ticking {
  font-size: 4em;
  /* Larger timer font size */
  font-weight: bold;
  color: #61afef;
  /* width: 50%; */
}

#currentTimerTicking {
  font-size: 3em;
  font-weight: normal;
  color: #98c379;
}


/* Class and Schedule */
#schedule {
  /* padding: 20px; */
  min-width: 80%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* #timeRemaining,
#time-elapsed {
  padding-left: 20px;
  padding-right: 20px;
} */

.small-header {
  font-size: 1em;
  color: rgba(200, 200, 200, 0.6);
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  text-transform: lowercase;
}

.class-name {
  font-size: 3em;
  font-weight: bold;
  color: #f5f5f5;
}

/* Messages */


#messages p {
  font-family: 'Quicksand', sans-serif;
  display: block;
  font-size: 1.5em;
  text-align: center;
  max-width: 80%;
  padding: 10px;
}

#mainMessage p {
  color: #ffcc00;
}

#specialMessage p {
  color: #61afef;
}


.flash-container {
  /* width: 100vw; */
  width: 100%;
  position: fixed;
  bottom: 50px;
  align-items: center;
}

.flash {
  /* padding: 15px;
  margin: 10px 0;
  border: 1px solid transparent;
  border-radius: 5px; */
  width: 100%;
  font-size: 16px;
  /* position: fixed; */
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.flash {
  animation: fadeOut 5s ease-in forwards;
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 30px auto;
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

label {
  font-size: 1.2em;
}

input[type="text"],
input[type="username"],
input[type="password"],
input[type="submit"] {
  padding: 10px;
  font-size: 1.2em;
  border: 2px solid #3a3a54;
  border-radius: 5px;
  background-color: #1e1e2e;
  color: #f5f5f5;
}

input[type="text"]:focus,
input[type="username"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #61afef;
}

input[type="submit"] {
  background-color: #61afef;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #d4d4dc;
  color: #1e1e2e;
}

/* center Y axis */
#login,
#register {
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
}

/* Responsive Design */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .content {
    padding: 10px;
  }

  form {
    width: 90%;
  }

  #timer p {
    font-size: 2.5em;
  }
}

#testText {
  text-decoration: underline;
  cursor: pointer;
}

#testTimeContainer {
  display: none;
}

#testTimeContainer form {
  margin: 0px;
  padding: 0px;
}

#testTimeContainer button {
  border-radius: 5px;
  border-color: transparent;
  background-color: orange;
  cursor: pointer;
  box-shadow: none;
  padding: 5px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}


.progress-container {
  margin: 20px;
  width: 90vw;
  height: 2em;
  border-radius: 20px;
  border: 2px solid white;
  display: flex;
  box-sizing: border-box;
}

.progress-bar {
  background: linear-gradient(to right, #5161ee, #d488f3);
  background-size: 90vw 100%;
  border-radius: 20px;
  width: 0px;
  height: 100%;
  margin: 0;
}

.progress-text {
  position: absolute;
  right: 20px;
  font-size: 0px;
  font-weight: bold;
  top: -20px;
}

.progress-text span {
  font-size: 3rem;
  font-family: 'Courier New', Courier, monospace;
  color: #ff4769;
}

#progressInt {
  font-size: 6rem;
}

#progressPercentSymbol {
  color: #d3d3d3
}